<html> 
<head>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>



<!-- js for disable droplist -->
<script type="text/javascript">
function CheckColors(val){
 var element=document.getElementById('color');
  var element1=document.getElementById('state');
 if(val=='pick a color'||val=='others'){
element1.value='Selangor';
}
 else  {
   element.style.display='none';
element1.style.display='none';
}
}

</script> 

<script type="text/javascript">
    function changeToUpperCase(t) {
  var eleVal = document.getElementById(t.id);
  eleVal.value= eleVal.value.toUpperCase().replace(/ /g,'');
}
</script>

<!-- javascript for calculator -->
<script type="text/javascript">
function findTotal(){
    var arr = document.getElementsByName('qty');
    var tot=0;
    for(var i=0;i<arr.length;i++){
        if(parseInt(arr[i].value))
            tot += parseInt(arr[i].value);
        
    }
    document.getElementById('total').value = tot;
    if(tot>100){
        	 document.getElementById("myForm").reset();
        	 confirm("Alert!!!..Should Not be more than 100%");
        	
        }
}
    </script>

    <script type="text/javascript">
    	var elements = document.getElementsByClassName("test");
var names = '';
for(var i=0; i<elements.length; i++) {
    names += elements[i].name;
}
document.write(names);
    </script>

<!-- <script> 
function enableToggle() {
    var x = document.getElementById("downpayment");
    var y = document.getElementById("full_payment");
    var z = document.getElementById("half_payment");
    
    if (downpayment.value.replace(/\s+/,'').length > 0){
    	half_payment.disabled = true;
    	half_payment.style.backgroundColor = "#F8F8F8";
    	full_payment.disabled = true;
    	full_payment.style.backgroundColor = "#F8F8F8";

				    	if (downpayment.value > 10){
				    	alert("Must be in the range of 0 to 10");
				    	downpayment.value = "";
				    	half_payment.disabled = false;
				    	full_payment.disabled = false;
				    }
    }

    else if (full_payment.value.replace(/\s+/,'').length > 0){
    	half_payment.disabled = true;
    	half_payment.style.backgroundColor = "#F8F8F8";
    	downpayment.disabled = true;
    	downpayment.style.backgroundColor = "#F8F8F8";

    	if ((full_payment.value > 30 || full_payment < 20) && (full_payment.value > 3 || full_payment.value < 2)){
				    	alert("Must be in the range of 20 to 30");
				    	full_payment.value = "";
				    	downpayment.disabled = false;
				    	half_payment.disabled = false;
				    }
    }

    else if (half_payment.value.replace(/\s+/,'').length > 0){
    	full_payment.disabled = true;
    	full_payment.style.backgroundColor = "#F8F8F8";
    	downpayment.disabled = true;
    	downpayment.style.backgroundColor = "#F8F8F8";

    	if ((half_payment.value > 20 || half_payment < 10) && (half_payment.value > 2 || half_payment.value < 1)){
				    	alert("Must be in the range of 10 to 20");
				    	half_payment.value = "";
				    	downpayment.disabled = false;
				    	full_payment.disabled = false;
				    }
    }

    else {
    	full_payment.disabled = false;
    	full_payment.style.backgroundColor = "white";
    	downpayment.disabled = false;
    	downpayment.style.backgroundColor = "white";
    	half_payment.disabled = false;
    	half_payment.style.backgroundColor = "white";
    }
}
</script> -->

<script type="text/javascript">
	$('.enableToggle').on('keyup paste', function(){
    var curVal = $(this).val().replace(/\s+/g,'').length > 0;
    $(this).siblings('.enableToggle').prop('disabled', curVal);
});
</script>

</head>
<body>

<!-- coding for calculator -->
<form id="myForm">
Qty1 : <input onblur="findTotal()" type="text" name="qty" id="qty2"/><br>
Qty2 : <input onblur="findTotal()" type="text" name="qty" id="qty3"/><br>
Qty3 : <input onblur="findTotal()" type="text" name="qty" id="qty4"/><br>
Qty4 : <input onblur="findTotal()" type="text" name="qty" id="qty5"/><br>
Qty5 : <input onblur="findTotal()" type="text" name="qty" id="qty6"/><br>
Qty6 : <input onblur="findTotal()" type="text" name="qty" id="qty7"/><br>
Qty7 : <input onblur="findTotal()" type="text" name="qty" id="qty8"/><br>
Qty8 : <input onblur="findTotal()" type="text" name="qty" id="qty9"/><br>
Qty9 : <input onblur="findTotal()" type="text" name="qty" id="qty10"/><br>

</form>
Total : <input type="text" name="total" id="total"/>


<br><br><br>
<div class="login-form">
                <h1 class="h1-login">Welcome</h1>
                <h4>Please login to enjoy our services</h4>

                <form class="login-form" name="login-form" method="post">

                    <label for="username"><span class="required">*</span>Username:</label>
                        <input id="username" type="text" name="username" autofocus onkeyup="changeToUpperCase(this)">
                    <label for="password"><span class="required">*</span>Password:</label>
                        <input type="password" name="password" size="8" maxlength="8">

                    <input class="login" type="submit" value="Login">

                </form>

            </div>  

<!-- disable textbox -->
<!-- <br><br><br><br>
<form>
<div>
Down Payment : <input onkeyup="enableToggle()" name="downpayment" id="downpayment" type="text" style="width:250px"
/>
<br>Full Payment : <input onkeyup="enableToggle()" name="full_payment" id="full_payment" type="text" style="width:250px"
/>
<br>Half Payment : <input onkeyup="enableToggle()" name="half_payment" id="half_payment" type="text" style="width:250px"
/>
</div>
</form> -->

<!-- html -->
<a class="test" name="Name 1"></a>
<a class="test" name="Name 2"></a>
<a class="test" name="Name 3"></a>
<br><br>

<form>
    <div>
        <label for="downpayment">Downpayment</label>
        <input name="downpayment" class="enableToggle" id="downpayment" type="text" style="width:250px" />
        <label for="full_payment">Full payment</label>
        <input name="full_payment" class="enableToggle" id="full_payment" type="text" style="width:250px" />
    </div>
</form>

<form>
    <div>
        <label for="downpayment">Downpayment</label>
        <input name="downpayment" class="enableToggle" id="downpayment" type="text" style="width:250px" />
        <label for="full_payment">Full payment</label>
        <input name="full_payment" class="enableToggle" id="full_payment" type="text" style="width:250px" />
    </div>
</form>

<!-- disable droplist -->
  <br><br><br><br><select name="color" onchange='CheckColors(this.value);'> 
    <option>pick a color</option>  
    <option value="red">RED</option>
    <option value="blue">BLUE</option>
    <option value="others">others</option>
  </select>
<input type="text" name="color" id="color" style='display:none;'/>
<div class="input-group" style="width: 100%;">
						    <span class="input-group-addon" style="width: 20%;" >State</span>
						    <select id="state" name="state" class="form-control" required="" style="width:36.6%; display:none;">
					        <option data-foo="" value="0" disabled="true" selected="true">--Please Select--</option>
					        <option data-foo="J" value="0" disabled="true">J</option>
					        <option data-foo="Johor" value="Johor">&nbsp&nbsp&nbsp Johor</option>
					        <option data-foo="K" value="0" disabled="true">K</option>
					        <option data-foo="Kedah" value="Kedah">&nbsp&nbsp&nbsp Kedah</option>
					        <option data-foo="Kelantan" value="Kelantan">&nbsp&nbsp&nbsp Kelantan</option>
					        <option data-foo="Kuala Lumpur" value="Kuala Lumpur">&nbsp&nbsp&nbsp Kuala Lumpur</option>
					        <option data-foo="M" value="0" disabled="true">M</option>
					        <option data-foo="Malacca" value="Malacca">&nbsp&nbsp&nbsp Malacca</option>
					        <option data-foo="L" value="0" disabled="true">L</option>
					        <option data-foo="Labuan" value="Labuan">&nbsp&nbsp&nbsp Labuan</option>
					        <option data-foo="N" value="0" disabled="true">N</option>
					        <option data-foo="Negeri Sembilan" value="Negeri Sembilan">&nbsp&nbsp&nbsp Negeri Sembilan</option>
					        <option data-foo="P" value="0" disabled="true">P</option>
					        <option data-foo="Pahang" value="Pahang">&nbsp&nbsp&nbsp Pahang</option>
					        <option data-foo="Perak" value="Perak">&nbsp&nbsp&nbsp Perak</option>
					        <option data-foo="Perlis" value="Perlis">&nbsp&nbsp&nbsp Perlis</option>
					        <option data-foo="Penang" value="Penang">&nbsp&nbsp&nbsp Penang</option>
					        <option data-foo="Putrajaya" value="Putrajaya">&nbsp&nbsp&nbsp Putrajaya</option>
					        <option data-foo="S" value="0" disabled="true">S</option>
					        <option data-foo="Sabah" value="Sabah">&nbsp&nbsp&nbsp Sabah</option>
					        <option data-foo="Sarawak" value="Sarawak">&nbsp&nbsp&nbsp Sarawak</option>
					        <option data-foo="Selangor" value="Selangor">&nbsp&nbsp&nbsp Selangor</option>
					        <option data-foo="T" value="0" disabled="true">T</option>
					        <option data-foo="Terengganu" value="Terengganu">&nbsp&nbsp&nbsp Terengganu</option>
					        </select>
						    </div><br>
</body>
</html>